
.wrapper{
    display: flex;
    height: 100vh;
    width: 100vh;
    justify-content: center;
    align-items: center;

}

.accordion{
    width: 500px;
}

.item{
    background-color: aliceblue;
    margin-bottom: 5px;
    padding: 10px 20px;

}

.title{
    color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content{
    color: blue;
}

.content.show{
    height: auto;
    max-height: 999px;
    transition: all 0.5s cubic-bezier(1,0,1,0); 
}