


.navbarMain{
    background-image: url('../../../public/segundaImagen.jpg');  
    height:500px;
    width: 250vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5px;
}

.subtitulo{
    /* color:royalblue; */
  }






