


.navbar{
    background-color: #353576;
}

.subtitulo{
    color:royalblue;
  }

#computadora{
    padding:'30px'; 
    width: '100%';
    height: 'auto';
    align-items: flex-end;
}

#alinear{
    padding-top: 50px;
}